*{
    margin: 0;
    padding: 0;
}

.navbar{
    position: relative;
    background-color: rgb(220, 224, 227);
    height: 50px;
    box-shadow: 0 5px 5px rgb(194, 193, 193);
}

.logo-img{
    padding: 5px;
    padding-left: 30px;
}

.navbar-content{
}

.nav-items{
    color: aliceblue;
    display: inline;
    position: absolute;
    right:0;
    top: 0;
    margin: 10px;
    padding: 5px;
    border-radius: 50%;
   
}

.nav-items:nth-child(1){
    right:260px;
    background-color: rgb(39, 55, 233) ;
    padding: 5px;
    border-radius: 50%;
}
.nav-items:nth-child(2){
    right:210px;
    background-color: rgb(39, 55, 233) ;
}
.nav-items:nth-child(3){
    right:160px;
    background-color: rgb(39, 55, 233) ;
}
.nav-items:nth-child(4){
    right:90px;
}
.nav-items:nth-child(5){
    right:50px;
    color: rgb(39, 55, 233) ;
}

.btn{
    color: rgb(218, 212, 212);
    background-color: rgb(39, 55, 233) ;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 50px;
    float: right;
}

.main-content{
    border: 1px solid rgb(194, 193, 193);
    margin: 90px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(194, 193, 193);
    
}
.main-content h4{
    background-color: rgb(39, 55, 233) ;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    color: rgb(237, 227, 227);
   
}

.main-content p{
    text-align: center;
    padding: 40px;
   
}

.task-heading {
    margin: 20px 50px;
    border-radius: 10px ;
    border: 1px solid rgb(194, 193, 193);
    box-shadow: 0px 5px 10px 3px rgb(194, 193, 193);
    display:inline-block;
    /* width: 50%; */
    position: relative;
}

.task-heading h4{
/*    
    width: 50%; */
    background-color: rgb(41, 41, 42) ;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    color: rgb(237, 227, 227);
}

.sub-div{
    border: 2px solid rgb(194, 193, 193);
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(194, 193, 193);
    margin: 20px;
}
.sub-div p{
    padding-top: 10px;
    text-align: left;
    height: 100px;
}


audio{
   color: rgb(56, 55, 55);
   width: 95%;
   margin: 20px;
}